@import "reset.css";

:root {
    --ff-h1: 'Merienda', cursive;
    --ff-h: 'Merriweather', sans-serif;
    --ff-p: 'Nunito', sans-serif; 

    --fw-r: 400;
    --fw-m: 700;
    --fw-b: 900;

    --fs-n: 1.2rem;
    --fs-m: 2rem;
    --fs-b: 4rem;

    --primary-clr: rgba(221, 99, 110, 1);
    --secondary-clr: rgba(15, 69, 82, 1);
    --bg-clr-one: rgba(116, 210, 202, 1);
    --bg-clr-two: rgba(109, 174, 219, 1);
    --accent-clr: rgba(240, 247, 87, 1);
}

/* TYPOGRAPHY AND FONTS */

body {
    font-family: var(--ff-p);
    font-size: var(--fs-n);
    font-weight: var(--fw-r);
    line-height: 1.6;

}

h1 {
    font-family: var(--ff-h1);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
}

h2,h3 {
    font-family: var(--ff-h);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
}


/* LAYOUT */
#header,
#hello {
    background-color: var(--bg-clr-one);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* LOGO-BAR */
.logo {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7em;
    padding-bottom: 0.7em;;
    width: 50%;
}

/* NAVBAR */

.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list__item {
    padding-bottom: 1rem;
}

.nav-list__link {
    padding: 1rem;
    text-decoration: none;
    color: var(--secondary-clr);
}

/* MOTTOBAR */

.mottobar {
    height: 50vh;
    background-image: url(../images/rope-600_600.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.motto-shade {
    height: 100%;
    width: 100%;
    background: rgba(12,12,12, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 2rem;
    letter-spacing: 5px;
}

/* GREET */


