@import "reset.css";

:root {
    --ff-h1: 'Merienda', cursive;
    --ff-h: 'Merriweather', sans-serif;
    --ff-p: 'Nunito', sans-serif; 

    --fw-n: 300;
    --fw-r: 400;
    --fw-m: 700;
    --fw-b: 900;

    --fs-n: 1.125rem;
    --fs-m: 2rem;
    --fs-b: 3rem;
    --fs-bb: 4rem;

    --clr-primary: hsl(355, 64%, 63%, 1);
    --clr-secondary:hsl(192, 69%, 19%,1);

    --clr-bg-one: hsl(20, 73%, 93%,1);
    /* --clr-bg-one: hsl(175, 51%, 64%,1); */
    --clr-bg-two: hsl(197, 98%, 46%, 1);
    /* --clr-bg-two: hsl(205, 60%, 64%,1); */

    --clr-accent: hsl(63, 91%, 65%,1);
}

/* TYPOGRAPHY AND FONTS */

body {
    font-family: var(--ff-p);
    font-size: var(--fs-n);
    font-weight: var(--fw-n);
    line-height: 1.6;
    color: var(--clr-secondary);

}

h1 {
    font-family: var(--ff-h1);
    font-size: var(--fs-bb);
    font-weight: var(--fw-b);
}

h2 {
    font-family: var(--ff-h);
    font-size: var(--fs-b);
    font-weight: var(--fw-b);
}

h3 {
    font-family: var(--ff-h);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
}

h4 {
    font-family: var(--ff-h);
    font-size: var(--fs-n);
    font-weight: var(--fw-m);
}


/* LAYOUT */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.row {
    display: flex;
}

#header,
#hello,
#products {
    background-color: var(--clr-bg-one);
}

#how,
#cats {
    background-color: var(--clr-bg-two);
}

/* LOGO-BAR */
.logo {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7em;
    padding-bottom: 0.7em;;
    width: 50%;
}

/* NAVBAR */

.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list__item {
    padding: 0.5rem 0 0.5rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;

}

.nav-list__link {
    padding: 1rem;
    text-decoration: none;
    color: var(--clr-secondary);
}

.nav-list__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-secondary);
    text-underline-offset: 0.3em;
}

/* MOTTOBAR */

.mottobar {
    height: 50vh;
    background-image: url(../images/loveknot_600x600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.motto-shade {
    height: 100%;
    width: 100%;
    background: rgba(12,12,12, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.motto-title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 2rem;
    letter-spacing: 5px;
}

/* GREET */

.hello {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 14em;
    z-index:-1;
 }

 .greet-title {
    color: var(--clr-primary);
    text-align: center;
    padding: 1em 0;
    order: 0;
    z-index: 1;
 }

 .greet-text {
    text-align: center;
    padding: 2em 1em; 
    order: 2;
    z-index: 1;
 }

 .greet-image {
    width: 80%;
    order: 1;
    z-index: 1;
 }
 
 .asli-photo {
     background-color: var(--clr-accent);
     border-radius: 50%;
 }

 .icon-wrapper {
     position: absolute;
 }

 .earrings-icon--wrapper {
     top: 14rem;
     left: -3em;
     width: 15em;
     height: 15em;
}

.necklace-icon--wrapper {
    top: 15em;
    right: -7em;
    width: 20em;
    height: 20em;
}

.yarn-icon {
    bottom: -50px;
    width: 90%;
    height: 300px;
    z-index: 0;
}


 /* HOW */

.how {
    padding-top: 3em;
    padding-bottom: 3em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.how-title {
    text-align: center;
    font-size: 2.5rem;
    width: 90%;
    color: var(--clr-primary);
    margin-bottom: 1.5em;
}

.how-card {
    width: 80%;
    max-width: 300px;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
}

.how-icon__wrapper {
    height: 300px;
    width: 100%;
}

.how-icon {
    width: 100%;
    height: 100%;
}

.how-card--title,
.how-card--text,
.how-card__link
 {
    text-align: center;
}

.how-card__link {
    padding: 1rem;
    text-underline-offset: 0.3em;
    color: var(--clr-accent);
}

.how-card__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-secondary);
    text-underline-offset: 0.3em;
}

.how-card--title {
    color: var(--clr-primary);
    font-size: 1.75rem;
}

.sewingmachine-icon {
    padding: 1.5em 1.5em 0;
}


